* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.welcome-container > h1 {
    margin-bottom: 5rem;
}
.welcome-container > button {
    width: 10rem;
    height: 5rem;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 3rem;
    box-shadow: 0 .7rem rgba(0,0,0,0.56);
}
.welcome-container > button:hover {
    cursor: pointer;
    background-color: red;
    transition: .3s;


}
.welcome-container > button:active {
    box-shadow: none;

}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-top: -5rem;
}


.register-title {
    font-style: italic;
}


.register-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    height: 15rem;
    margin-top: 3rem;
}

.register-form  > .incorrect-password {
    font-size: 2rem;
    color: crimson;
}

.register-form  .name,.password{
    padding: 1rem;
    width: 20rem;
    height: 3rem;
    border-radius: 3rem;
    border-color: black;
}

.register-form > button {
    width: 6rem;
    height: 3rem;
    margin-top: 2rem;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 3rem;
    box-shadow: 0 .7rem rgba(0,0,0,0.56);
}

.register-form > button:hover {
    cursor: pointer;
    background-color: red;
    transition: .3s;


}
.register-form > button:active {
    box-shadow: none;

}

.contacts {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

.contacts-buttons-container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.contacts-buttons-container > button {
    width: 8rem;
    height: 3rem;
    margin: 2rem;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 3rem;
    box-shadow: 0 .7rem rgba(0,0,0,0.56);
}

.contacts-buttons-container > button:hover {
    cursor: pointer;
    background-color: red;
    transition: .3s;


}
.contacts-buttons-container > button:active {
    box-shadow: none;

}

#contacts-form-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.contact-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    height: 15rem;
    margin-top: 3rem;
}

.contact-form input{
    padding: 1rem;
    width: 20rem;
    height: 3rem;
    border-radius: 3rem;
    border-color: black;
}


.contact-form > button {
    width: 6rem;
    height: 3rem;
    margin-top: 2rem;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 3rem;
    box-shadow: 0 .7rem rgba(0,0,0,0.56);
}

.contact-form > button:hover {
    cursor: pointer;
    background-color: red;
    transition: .3s;


}
.contact-form > button:active {
    box-shadow: none;

}

.contacts-container {
    margin-top: 4rem;

}

.contacts-container > h1 {
    font-style: italic;
    font-weight: bold;
    margin-left: 2rem;
    margin-bottom: 5rem;
}

.contacts-card-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.contacts-card {
    width: 30rem;
    height: 18rem;
    border: .5rem solid rgba(0,0,0,0.88);
    border-radius: 3rem;
    margin: 2rem;
    box-shadow: .4rem .4rem .8rem rgba(0,0,0,0.88);
}

.contacts-card > h2,h3 {
    text-align: center;
    margin-top: 2rem;
}

.contacts-card > button {
    width: 6rem;
    height: 3rem;
    margin: 2rem 0 2rem 6rem;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 3rem;
    box-shadow: 0 .7rem rgba(0,0,0,0.56);
}


.contacts-card > button:hover {
    cursor: pointer;
    background-color: red;
    transition: .3s;


}
.contacts-card > button:active {
    box-shadow: none;

}

.contacts-update-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.back-btn {
    display: none;
    width: 6rem;
    height: 3rem;
    margin: 2rem 0 2rem 6rem;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 3rem;
    box-shadow: 0 .7rem rgba(0,0,0,0.56);
}